# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore MLflow runs directory
mlruns/

# Ignore data files
*.csv
*.tsv
*.json

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore Python egg files
*.egg-info/

# Ignore build directories
build/
dist/
*.egg

# Ignore VSCode settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other IDE settings
.idea/
*.iml
